.poster {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.poster .wrap {
  column-gap: 20px;
}

.poster .wrap li {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--gray7);
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

.poster .wrap li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster .wrap li p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: rgb(119, 18, 18);
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.poster .wrap li:hover {
  transform: scale(1.05);
}
