.ni {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.ni p {
  font-size: 0.8rem;
  color: rgb(177, 174, 174);
}

.ni input {
  background-color: transparent;
  border: 1px solid rgb(177, 175, 175);
  outline: none;
  padding: 10px;
  caret-color: rgb(170, 169, 169);
  border-radius: 100px;
  color: white;
}

.ni input:focus {
  border-color: rgb(127, 209, 3);
}

.ni input::placeholder {
  caret-color: rgb(170, 169, 169);
}

.ni button {
  background-color: rgb(209, 10, 10);
  padding: 10px;
  border-radius: 100px;
  color: white;
  border: none;
}

.ni .btn {
  display: flex;
  padding: 0px 20px;
  justify-content: center;
}

.ni .btn button {
  cursor: pointer;
}

.ni .btn button:active {
  background-color: brown;
}
